{
  // "extends": ["next", "next/core-web-vitals"]
  "extends": "next",
  "rules": {
    "react/no-children-prop": "off",
    "react/jsx-key": "off",
    "react-hooks/rules-of-hooks": "off",
    "react/no-unescaped-entities": "off"
  }
}
