#content-header {
  font-family: 'hindguntur-bold', sans-serif;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}

#content {
  margin-top: 120px; 
  text-align: center;
}

#content-socials {
  width: min-content;
  margin: auto;
}

body.alternate-color-scheme {
  --large-sm-icon-fill: #444;
  --large-sm-icon-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
}

body:not(.alternate-color-scheme) {
  --large-sm-icon-fill: #fff;
  --large-sm-icon-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%);
}

.social-link {
  text-decoration: none;
  vertical-align: middle;
  display: flex;
  padding: 15px 15px 10px 15px;
  border-radius: 5px;
  transition: box-shadow 0.3s linear;
  color: var(--navbar-link-color)
}

.social-link:hover {
    box-shadow: var(--large-sm-icon-shadow)
}

.social-link:not(:last-child) {
  margin-bottom: 5px;
}

.social-link svg {
  fill: var(--large-sm-icon-fill)
}

.social-link svg, .social-link p {
  display: inline-block;
  float: left;
}

.social-link p {
  color: var(--navbar-link-color);
  margin: 0;
  line-height: 22px;
}

.social-link p.sb-bullet::before {
  padding: 0 15px;
  content: " \00b7";
  font-size: 40px;
}

#content-header {
  color: var(--navbar-website-name-color)
}

#content-description {
  color: var(--navbar-link-color)
}

#content-socials {
  margin-top: 50px;
}
