#post-content-wrapper {
  padding: 0 20px;
}

#post-text-content {
  margin: 50px auto 0 auto;
}
#post-content {
  margin: auto;
  max-width: 850px;
  line-height: 30px;

  color: var(--post-content-text-color);
}

#post-title {
  font-family: 'montserrat-bold', sans-serif;
  margin: 20px auto;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  max-width: 500px;
  color: var(--post-content-title-color);
}

#post-image-wrapper {
  margin: 0 100px 30px 100px;
}
#post-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#post-meta {
  font-size: 18px;
  text-align: center;
}

.details-meta-line {
  display: inline;
}

img {
  border: 1px solid var(--post-list-preview-image-border-color);
}

@media only screen and (max-width: 699px) {
  #post-image-wrapper {
    margin: 0 25px 30px 35px;
  }
  
  #post-image {
    height: auto;
  }
}
