.FullPageArticle {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    color: black;
    margin: 50px 0 100px 0;
}

.FullPageArticle__Content {
    margin: auto;
    max-width: 650px;
    font-size: 16px;
    line-height: 30px;
    padding: 0 30px;
    word-wrap: break-word;
}

.FullPageArticle__Content p, .FullPageArticle__Content h1, .FullPageArticle__Content h2, .FullPageArticle__Content h3, .FullPageArticle__Content h4, .FullPageArticle__Content h5, .FullPageArticle__Content h6 {
    margin: 50px 0 0 0;
}

.FullPageArticle__Content h3 {
    font-weight: 600;
    font-size: 20px;
}

.FullPageArticle__Content img {
    width: 100%;
    height: auto;   
    display: block;
    margin: auto;
}

.FullPageArticle__Content a           { color: #4ba2d4 }
.FullPageArticle__Content a:hover, .FullPageArticle__Content a:hover a:focus { color: #5580c9 }
.FullPageArticle__Content a:active         { color: #c9558d }

.ArticleCloseButton {
    width: 45px;
    height: 45px;
    
    margin: auto;
    border-radius: 50%;

    background: #FFFFFF;
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.3));
    transition: background 0.5s;

    cursor: pointer;
}

.ArticleCloseButton:hover {
    background: #EEEEEE;
}