.FullPageArticle {
    color: black;
}

.FullPageArticle__Content {
    margin: auto;
    max-width: 650px;
    font-size: 16px;
    line-height: 30px;
}

.FullPageArticle__Content p, .FullPageArticle__Content h1, .FullPageArticle__Content h2, .FullPageArticle__Content h3, .FullPageArticle__Content h4, .FullPageArticle__Content h5, .FullPageArticle__Content h6 {
    margin: 50px 0 0 0;
}

.FullPageArticle__Content h3 {
    font-weight: 600;
    font-size: 20px;
}

.FullPageArticle__Content img {
    max-width: 650px;
    margin: auto;
    display: block;
}

.FullPageArticle__Content a           { color: #4ba2d4 }
.FullPageArticle__Content a:hover, .FullPageArticle__Content a:hover a:focus { color: #5580c9 }
.FullPageArticle__Content a:active         { color: #c9558d }