.Section {
    min-height: 30px;
    width: 100%;
}

.Section[data-section-id="about"] {
    background: var(--about-panel-background);
}

.Section[data-section-id="blog"] {
    background: var(--blog-panel-background);
}

.Section[data-section-id="404"] {
    font-family: 'DM Mono', monospace;
    text-align: center;
    background-color: rgb(255, 82, 59);
    color: white;
}

.Section[data-section-id="about"] h1 { 
    color: var(--about-panel-header-color);
}

.Section[data-section-id="blog"] h1 {
    color: var(--blog-panel-header-color);
}

.Section[data-section-id="about"] h2 { 
    color: var(--about-panel-subheader-color);
}

.Section[data-section-id="about"] p { 
    color: var(--about-panel-paragraph-color);
}