---
layout: master
---
<link rel="stylesheet" href="{{ 'assets/css/bloglist.css' }}">
<div id="post-list">
  {% assign pagenums = site.posts.size | divided_by: 5.0 | ceil | minus: 1 | times: 1 %}
  {% for i in (0..pagenums) %}
  <div class="post-page">
    {% assign postsonpage = i | times: -5 %}
    {% assign postsonpage = postsonpage | plus: site.posts.size %}
    {% if postsonpage > 5 %}
      {% assign postsonpage = 5 %}
    {% endif %}
    {% for j in (1..postsonpage) %}
      {% assign k = i | times: 5 | plus: j | minus: 1 %}
      {% assign post =  site.posts[k] %}
      <a class="post" href="{{ post.url | relative_url }}">
        <img src="{{ post.image }}" alt="" width="270px" height="180px">
        <div class="details">
          <h2>{{ post.title }}</h2>
          <p class="details-meta-line post-type">Article</p>
          <p class="details-meta-line post-type-category-seperator">—</p>
          <p class="details-meta-line post-category" post-category='{{ post.post-category }}' post-category-unchecked></p>
          <p class="details-meta-line post-date" post-date-day='{{ post.date | date: "%-d" }}' post-date-month='{{ post.date | date: "%-m" }}' post-date-year='{{ post.date | date: "%Y" }}' post-date-unchecked>{{ post.date | date: "%B"}}{% assign day = post.date | date: "%-d" %} {% case day %}{% when '1' or '21' or '31' %}{{ day }}st{% when '2' or '22' %}{{ day }}nd{% when '3' or '23' %}{{ day }}rd{% else %}{{ day }}th{% endcase %}, {{ post.date | date: "%Y"}}</p>
          <div class="post-excerpt">{{ post.excerpt }}</div>
        </div>
      </a>
      <br>
    {% endfor %}
  </div>
  {% endfor %}

    {% if pagenums > 0 %}
      <div id="page-navigation">
        <a id="page-nav-back">
          <svg version="1.1" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004" style="enable-background:new 0 0 400.004 400.004;" xml:space="preserve"><g><path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757	c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072	c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315	C400.004,190.438,392.251,182.686,382.688,182.686z"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </a>

        <b id="page-nav-text" totalpages="{{ pagenums | plus: 1 }}">Page ? of {{ pagenums | plus: 1 }}</b>

        <a id="page-nav-forward">
          <svg style="transform: scaleX(-1)" width="20px" height="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004" style="enable-background:new 0 0 400.004 400.004;" xml:space="preserve"><g><path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757	c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072	c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315	C400.004,190.438,392.251,182.686,382.688,182.686z"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </a>
      </div>
    {% endif %}

</div>

<script>
  for(post_date of document.getElementsByClassName('post-date')) {
    let date = new Date();
    let postDay = parseInt(post_date.getAttribute("post-date-day"));
    let postMonth = parseInt(post_date.getAttribute("post-date-month"));
    let postYear = parseInt(post_date.getAttribute("post-date-year"));
    if (postDay == date.getDate() && postMonth == date.getMonth() + 1 && postYear == date.getFullYear()) {
      post_date.innerHTML = "Today";
    } else if ((postDay == date.getDate() - 1 && postMonth == date.getMonth() + 1 && postYear == date.getFullYear()) || (date.getDate() == 1 && (date.getMonth() == postMonth && date.getFullYear() == postYear) && ((postDay == 28 && postMonth == 2 && postYear % 4 != 0) || (postDay == 29 && postMonth == 2 && postYear % 4 == 0) || (postDay == 31 && [1,3,5,7,8,10,12].includes(postMonth)) || (postDay == 30 && [4,6,9,11].includes(postMonth)))) || (postMonth == 12 && postDay == 31 && postYear + 1 == date.getFullYear() && date.getMonth() == 0 && date.getDate() == 1)) {
      post_date.innerHTML = "Yesterday";
    } else if(postYear == date.getFullYear()) {
      post_date.innerHTML = post_date.innerHTML.substr(0, post_date.innerHTML.length - 6)
    }
  }

  for(post_category of document.getElementsByClassName('post-category')) {
    let category = post_category.getAttribute('post-category');
    let color = "#a60e00";
    if(category == "minecraft") {
      post_category.innerHTML = "Minecraft"
      color = "#60d19a"
    }
    else post_category.innerHTML = "Unknown"
    post_category.style = "color: " + color;
  }

  var current_page = 0;
  switch_to_page(current_page);

  if(document.getElementById('page-nav-back') != null) {
    document.getElementById('page-nav-back').addEventListener('click', function () {
      if(!this.classList.contains("disabled")) switch_to_previous_page();
    });
  }

  if(document.getElementById('page-nav-forward') != null) {
    document.getElementById('page-nav-forward').addEventListener('click', function () {
      if(!this.classList.contains("disabled")) switch_to_next_page();
    });
  }

  function switch_to_page(page) {
    document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
    if(document.getElementById("page-nav-text") != null) document.getElementById("page-nav-text").innerHTML = "Page " + (page + 1) + " of " + document.getElementById("page-nav-text").getAttribute("totalpages")
    let post_pages = document.getElementsByClassName('post-page');
    if(page >= post_pages.length) page = 0;
    for(let i = 0; i < post_pages.length; i++) {
      if(i != page) {
        post_pages[i].classList = "post-page";
      }
      else  {
        post_pages[i].classList = "post-page visible";
      }
    }

    if(document.getElementById("page-nav-text") != null) {
      if(page == 0) document.getElementById('page-nav-back').classList = "disabled";
      else document.getElementById('page-nav-back').classList = "";
      if(page + 1 == post_pages.length) document.getElementById('page-nav-forward').classList = "disabled";
      else document.getElementById('page-nav-forward').classList = "";
    }
  }

  function switch_to_previous_page() {
    let post_pages = document.getElementsByClassName('post-page');
    if(current_page == 0) current_page = post_pages.length - 1;
    else current_page--;
    switch_to_page(current_page)
  }

  function switch_to_next_page() {
    let post_pages = document.getElementsByClassName('post-page');
    if(current_page + 1 >= post_pages.length) current_page = 0;
    else current_page++;
    switch_to_page(current_page)
  }
</script>
