---
layout: master
---

<link rel="stylesheet" href="{{ 'assets/css/projects.css' | relative_url}}">
<div id="content">
  <h1 id="content-header">Projects</h1>

  <div id="projects">
    <div class="project">
      <b>13Q Network • Owner, Developer</b>
      <p>13Q is a Minecraft server network coming 2021-22. At 13Q we are revolutionizing Minecraft multiplayer with new gamemodes, technologies, and features. My work requires deep knowledge of the Spigot API (Java), and an understanding of NodeJS, MySQL, and PHP. Its website is on the way!</p>
    </div>

    <div class="project">
      <b>CanvasPlus Extension • Author</b>
      <p>Canvas+ is a free chrome extension that improves the experience of students using the <a href="https://instructure.com">Canvas LMS</a>. You can toggle between a light and a dark mode, search for content across all your classes, and pages load much faster thanks to preloading.</p>
      <p><a href="https://github.com/adrWasTaken/CanvasPlus">Source Code</a> / <a href="https://canvasplus.adrwas.dev">Website</a> / <a href="https://chrome.google.com/webstore/detail/canvas%2B/kdkadcnebmokaadholinmnpjelphnghh">Install</a></p>
    </div>
  </div>
</div>
