html,
body {
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', arial, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-family: 'Source Serif Pro', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 16px;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #EB5757;
  background: rgba(135,131,120,0.15);
  font-size: 85%;
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

.prismjs {
  color: rgb(55, 53, 47);
  background: rgb(247, 246, 243);
  padding: 34px 16px 32px 32px;;
  font-size: 13.6px;
  overflow-x: scroll;
}

.prismjs .token.atrule, .prismjs .token.attr-value, .prismjs .token.keyword{
  color: #07a;
}

.prismjs .token.function, .prismjs .token.class-name {
  color: #DD4A68;
}

.prismjs .token.selector, .prismjs .token.attr-name, .prismjs .token.string, .prismjs .token.char, .prismjs .token.builtin, .prismjs .token.inserted {
  color: #690
}

.prismjs .token.operator, .prismjs .token.entity, .prismjs .token.url, .prismjs .language-css .token.string, .prismjs .style .token.string {
  color: #9a6e3a;
}

.prismjs .token.punctuation {
  color: #999;
}

.prismjs .token.comment, .prismjs .token.prolog, .prismjs .token.doctype, .prismjs .token.cdata {
  color: slategray;
}

.prismjs .token.property, .prismjs .token.tag, .prismjs .token.boolean, .prismjs .token.number, .prismjs .token.constant, .prismjs .token.symbol, .prismjs .token.deleted {
  color: #905;
}

@media only screen and (min-width : 550px) {
  
  .split {
    display: flex;
  }
  
  .side.left {
    margin-right: 20px;
  }
  
  .side.right {
    margin-left: 20px;
  }
  
  .side.w-10 {
    width: calc(10% - 20px);
  }
  
  .side.w-20 {
    width: calc(20% - 20px);
  }
  
  .side.w-30 {
    width: calc(30% - 20px);
  }
  
  .side.w-40 {
    width: calc(40% - 20px);
  }
  
  .side.w-50 {
    width: calc(50% - 20px);
  }
  
  .side.w-60 {
    width: calc(60% - 20px);
  }
  
  .side.w-70 {
    width: calc(70% - 20px);
  }
  
  .side.w-80 {
    width: calc(80% - 20px);
  }
  
  .side.w-90 {
    width: calc(90% - 20px);
  }
  
  .side.w-100 {
    width: calc(100% - 20px);
  }
}

img {
  image-rendering: -webkit-optimize-contrast;
}
/* 
.text-block-split {
  margin: 50px 0 0 0;
  display: flex;
  grid-gap: 30px;
}

.text-block-split-content p:first-child {
  margin: 0 !important;
}

.text-block-split-1-3 {
  width: calc(100% / 3);
}

.text-block-split-2-3 {
  width: calc(100% / 3 * 2);
} */