.SocialsWrapper {
    padding-bottom: 40px;
}

.SocialsWrapper__Row {
    padding: 10px 0;
    display: flex;

    
    cursor: pointer;
}

.SocialsWrapper__Row:hover p {
    color: var(--about-panel-subheader-color);
    text-decoration: underline;
}